<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="columns-1 mb-4 project box-decoration-clone sticky top-0">
  <div class="columns-1-md-5">
    <h2>
      <a class="font-semibold hover:text-slate-900" href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p class= "italic">
      {{project.artist_bio}}
    </p>
    <p class ="text-sm">Created by {{project.user.name}} on {{format_date project.date_created}} ❤️</p>
  </div>
</div>
      <img class="inline-block h-12 w-12 rounded-full ring-2 ring-black my-75" src="{{artist_img}}" alt="{{name}}"/>
{{/each}}

