<body id="body1">
  {{#each projects as |project|}}
  <div class=" flex flex-col bands top-5 p-1 divid-solid">
    <img class="inline-block h-12 w-12 rounded-full ring-2 ring-black mr-5 mt-5" src="{{artist_img}}" alt="{{name}}" />
    <div class="content-center">
      <h2>
        <a class="font-semibold hover:text-slate-900 visited:text-purple-600 text-2xl underline"
          href="/project/{{project.id}}">{{project.name}}</a>
      </h2>
      <p class="italic">
        {{project.artist_bio}}
      </p>
      <p class="text-xs">Created by {{project.user.name}} on {{format_date project.date_created}} </p>
    </div>
  </div>
  {{/each}}
</body>