<div class="text-center grid gap-4 grid-cols-3 grid-rows-3">
  <h2>{{name}}</h2>
  <p>{{artist_bio}}</p>
  <img class = "aspect-auto" src={{artist_img}} alt={{name}}>
  {{!-- <p>{{artist_img}}</p> --}}
  <img src={{artist_img}} alt={{name}}>
  {{!-- test --}}
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>